<app-navbar></app-navbar>
<div class="row marginTop">
  <div class="col col-lg-4">
    <mat-slide-toggle (change)="changeShoppingMode()"><span class="title">
        <h4 *ngIf="!networkSystemToggled">Single product</h4>
        <h4 *ngIf="networkSystemToggled">Network system</h4>
      </span></mat-slide-toggle>
  </div>
  <div class="col col-lg-6"></div>
  <div class="col col-lg-2"></div>
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="col col-lg-2"></div>
  <div class="col col-lg-8">
    <mat-tab-group dynamicHeight [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="Search">
        <ng-template mat-tab-label>
          Search
          <span class="leftMargin">
            <fa name="fas fa-search fa-2x" aria-hidden="true"></fa>
          </span>
        </ng-template>
        <div *ngIf="!networkSystemToggled">
          <div class="row">
            <div class="col">
              <h1 class="title">Find single product</h1>
              &nbsp;
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-3"></div>
            <div class="col col-lg-6">
              <form [formGroup]="singleProductForm" (ngSubmit)="findSingleProduct(singleProductForm.value)">
                <div class="form-group">
                  <mat-form-field>
                    <mat-select placeholder="Product type" formControlName="productType" (selectionChange)="changeSelectedType($event.value)"
                      [ngClass]="{ 'is-invalid': (spf.productType.touched && spf.productType.errors) || (submitted && spf.productType.errors) }">
                      <mat-option *ngFor="let sd of searchData" [value]="sd.productType">{{sd.productType}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="(spf.productType.touched && spf.productType.errors) || (submitted && spf.productType.errors)"
                      class="invalid-feedback">
                      <div class="error-font" *ngIf="spf.productType.errors?.required">Product type is required</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <mat-select placeholder="Manufactorer" formControlName="manufactorer">
                      <mat-option [value]="null">None</mat-option>
                      <div *ngIf="selectedPType != null">
                        <mat-option *ngFor="let man of selectedPType.manufactorers" [value]="man">{{man}}</mat-option>
                      </div>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <h4 class="gray h4-font">Minimum price <b class="price">{{spf.priceMin.value}}</b></h4>
                  <mat-slider class="wide" thumbLabel min="0" max="100" step="10" formControlName="priceMin"></mat-slider>
                </div>
                <div class="form-group">
                  <h4 class="gray h4-font">Maximum price <b class="price">{{spf.priceMax.value}}</b></h4>
                  <mat-slider class="wide" thumbLabel min="200" max="1000" step="50" formControlName="priceMax"></mat-slider>
                </div>
                <div class="form-group">
                  <h4 class="gray h4-font">Minimum warranty in months</h4>
                  <mat-slider thumbLabel min="0" max="60" step="1" formControlName="warrantyInMonthsMin"></mat-slider>
                </div>
                <div class="form-group">
                  <mat-checkbox formControlName="includeUserPreferences">Include my preferences</mat-checkbox>
                </div>
                <button mat-stroked-button color="primary">Submit</button>
              </form>
            </div>
            <div class="col col-lg-3"></div>
          </div>
        </div>
        <div *ngIf="networkSystemToggled">
          <div class="row">
            <div class="col">
              <h1 class="title">Find network system</h1>
              &nbsp;
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-3"></div>
            <div class="col col-lg-6">
              <form [formGroup]="networkSystemForm" (ngSubmit)="findNetworkSystem(networkSystemForm.value)">
                <div class="form-group">
                  <mat-form-field>
                    <mat-select placeholder="Street cabling" formControlName="streetCabling" (selectionChange)="changeStreetCabling($event.value)"
                      [ngClass]="{ 'is-invalid': (nsf.streetCabling.touched && nsf.streetCabling.errors) || (submitted && nsf.streetCabling.errors) }">
                      <mat-option *ngFor="let sc of streetCablingList" [value]="sc">{{sc}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="(nsf.streetCabling.touched && nsf.streetCabling.errors) || (submitted && nsf.streetCabling.errors)"
                      class="invalid-feedback">
                      <div class="error-font" *ngIf="nsf.streetCabling.errors?.required">Street cabling is required</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div *ngIf="isCopper || isOpticalSM || isOpticalMM">
                  <div class="form-group">
                    <h4 class="gray h4-font">Floors count <b class="price" [ngClass]="{ 'floatNone' : isCopper}">{{nsf.floorsCount.value}}</b></h4>
                    <mat-slider [ngClass]="{ 'wide' : !isCopper}" thumbLabel min="1" max="{{maxFloors}}" step="1"
                      formControlName="floorsCount"></mat-slider>
                  </div>
                  <div class="form-group">
                    <h4 class="gray h4-font">Avarage floor surface (m^2) <b class="price" [ngClass]="{ 'floatNone' : isCopper}">{{nsf.avarageFloorSurface.value}}</b></h4>
                    <mat-slider [ngClass]="{ 'wide' : !isCopper}" thumbLabel min="{{minFloorSurface}}" max="{{maxFloorSurface}}" step="5"
                      formControlName="avarageFloorSurface"></mat-slider>
                  </div>
                  <div class="form-group">
                    <h4 class="gray h4-font">Avarage office count (by floor) <b class="price" [ngClass]="{ 'floatNone' : isCopper}">{{nsf.avarageOfficeCountByFloor.value}}</b></h4>
                    <mat-slider [ngClass]="{ 'wide' : !isCopper}" thumbLabel min="1" max="{{maxFloorOffices}}" step="1"
                      formControlName="avarageOfficeCountByFloor"></mat-slider>
                  </div>
                  <div class="form-group">
                    <h4 class="gray h4-font">Avarage computer count (by office) <b class="price" [ngClass]="{ 'floatNone' : isCopper}">{{nsf.avarageComputerCountByOffice.value}}</b></h4>
                    <mat-slider [ngClass]="{ 'wide' : !isCopper}" thumbLabel min="1" max="{{maxOfficeComputers}}" step="1"
                      formControlName="avarageComputerCountByOffice"></mat-slider>
                  </div>
                  <div [ngClass]="{ 'wifi': nsf.includeWiFi.value }">
                    <div class="form-group">
                      <mat-checkbox formControlName="includeWiFi">Include Wi-Fi</mat-checkbox>
                    </div>
                    <div *ngIf="nsf.includeWiFi.value" class="form-group">
                      <h4 class="gray h4-font">Avarage Wi-Fi coverage (by floor (m^2)) <b class="price" [ngClass]="{ 'floatNone' : isCopper}">{{nsf.avarageWiFiCoverageSurfaceByFloor.value}}</b></h4>
                      <mat-slider [ngClass]="{ 'wide' : !isCopper}" thumbLabel min="{{minFloorSurface}}" max="{{nsf.avarageFloorSurface.value}}"
                        step="1" formControlName="avarageWiFiCoverageSurfaceByFloor"></mat-slider>
                    </div>
                  </div>
                  <div class="form-group">
                    <h4 class="gray h4-font">Wanted avarage download speed (mb/s) <b class="price" [ngClass]="{ 'floatNone' : isCopper}">{{nsf.wantedAvarageDownloadSpeed.value}}</b></h4>
                    <mat-slider [ngClass]="{ 'wide' : !isCopper}" thumbLabel min="{{maxDownloadSpeed / 4}}" max="{{maxDownloadSpeed}}"
                      step="1" formControlName="wantedAvarageDownloadSpeed"></mat-slider>
                  </div>
                  <div class="form-group">
                    <h4 class="gray h4-font">Wanted avarage upload speed (mb/s) <b class="price" [ngClass]="{ 'floatNone' : isCopper}">{{nsf.wantedAvarageUploadSpeed.value}}</b></h4>
                    <mat-slider [ngClass]="{ 'wide' : !isCopper}" thumbLabel min="{{maxDownloadSpeed / 8}}" max="{{maxDownloadSpeed / 2}}"
                      step="1" formControlName="wantedAvarageUploadSpeed"></mat-slider>
                  </div>
                  <div class="form-group">
                    <mat-checkbox formControlName="calculateWithPreferences">Calculate with preferences</mat-checkbox>
                  </div>
                  <mat-form-field>
                    <input matInput type="number" placeholder="Budget" formControlName="budget">
                    <mat-error *ngIf="(nsf.budget.touched && nsf.budget.errors) || (submitted && nsf.budget.errors)"
                      class="invalid-feedback">
                      <div class="error-font" *ngIf="nsf.budget.errors?.required">Budget is required</div>
                      <div class="error-font" *ngIf="nsf.budget.errors?.min">Minimum value is 0</div>
                    </mat-error>
                  </mat-form-field>
                  <div class="row">
                    &nbsp;
                  </div>
                  <button mat-stroked-button color="primary">Submit</button>
                  <div class="row">
                    &nbsp;
                  </div>
                </div>
              </form>
            </div>
            <div class="col col-lg-3"></div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Results
          <span class="leftMargin">
            <fa name="fas fa-bars fa-2x" aria-hidden="true"></fa>
          </span>
        </ng-template>
        <div class="row">
          <div class="col">
            <h1 class="title">Search results</h1>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-5">
            <div class="row marginAuto">
              <mat-form-field>
                <mat-select #filters placeholder="Filter" [disabled]="foundProducts.length == 0"
                  (selectionChange)="changeSelectedFilter($event.value)">
                  <mat-option [value]="null">None</mat-option>
                  <mat-option *ngFor="let filter of filtersList" [value]="filter">{{filter}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="row leftMargin topMarginSmall" *ngIf="manufactorerFilter">
                <mat-radio-group (change)="sortItems($event.value)">
                  <mat-radio-button value="1">A-Z</mat-radio-button>
                  <mat-radio-button class="leftMargin" value="2">Z-A</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row leftMargin topMarginSmall" *ngIf="priceFilter">
                <mat-radio-group (change)="sortItems($event.value)">
                  <mat-radio-button value="1">Lowest</mat-radio-button>
                  <mat-radio-button class="leftMargin" value="2">Highest</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row leftMargin topMarginSmall" *ngIf="warrantyFilter">
                <mat-radio-group (change)="sortItems($event.value)">
                  <mat-radio-button value="1">Shortest</mat-radio-button>
                  <mat-radio-button class="leftMargin" value="2">Longest</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row leftMargin topMarginSmall" *ngIf="preferenceFilter">
                <mat-radio-group (change)="sortItems($event.value)">
                  <mat-radio-button value="1">Manufactorer</mat-radio-button>
                  <mat-radio-button class="leftMargin" value="2">Price</mat-radio-button>
                  <mat-radio-button class="leftMargin" value="3">Warranty</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="row marginAuto" *ngIf="networkSystemToggled && foundProducts.length > 0">
              <button mat-stroked-button color="primary" (click)="addAllNSItemsToCart()"
                class="leftMargin topMarginSmall">Add all to cart</button>
            </div>
          </div>
          <div class="col col-lg-4">
            <mat-paginator [pageSize]="2" [length]="foundProducts.length" class="pag"></mat-paginator>
          </div>
        </div>
        <div class="row" *ngIf="!networkSystemToggled">
          <div class="col col-lg-2"></div>
          <div class="col col-lg-8">
            <div class="div-rel">
              <br />
              <div class="row" *ngFor="let dispProd of obs | async">
                <div class="col col-lg-12 jumbotron div-jumbo">
                  <div class="row">
                    <div class="col col-lg-3">
                      <h3 class="gray">{{dispProd.product.type}}</h3>
                      <h3 class="blue"><span class="gray">by</span> {{dispProd.product.manufactorer}}</h3>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <img [src]="dispProd.image.src" height="128" width="128">
                    </div>
                    <div class="col col-lg-4">
                      <h3 class="gray center">Description</h3>
                      <p class="center">{{dispProd.product.description}}</p>
                    </div>
                    <div class="col col-lg-2">
                      <h4 class="gray center">Price</h4>
                      <h4 class="blue center">{{dispProd.product.price}}</h4>
                    </div>
                    <div class="col col-lg-3 center">
                      <h4 class="gray center">Warranty in months</h4>
                      <h4 class="blue center">{{dispProd.product.warrantyInMonths}}</h4>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <button class="btn btn-default font-btn" title="Add to cart" (click)="addToCart(dispProd)">
                        <span class="hover-gray">
                          <fa name="fas fa-cart-plus fa-3x" aria-hidden="true"></fa>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                &nbsp;
              </div>
            </div>
          </div>
          <div class="col col-lg-2"></div>
        </div>
        <div class="row" *ngIf="networkSystemToggled">
          <div class="col col-lg-2"></div>
          <div class="col col-lg-8">
            <div class="div-rel">
              <br />
              <div class="row" *ngFor="let cartItem of obs | async">
                <div class="col col-lg-12 jumbotron div-jumbo">
                  <div class="row">
                    <div class="col col-lg-3">
                      <h3 class="gray">{{cartItem.displayProduct.product.type}}</h3>
                      <h3 class="blue"><span class="gray">by</span> {{cartItem.displayProduct.product.manufactorer}}</h3>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <img [src]="cartItem.displayProduct.image.src" height="128" width="128">
                    </div>
                    <div class="col col-lg-4">
                      <h3 class="gray center">Description</h3>
                      <p class="center">{{cartItem.displayProduct.product.description}}</p>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <h4 class="gray center">Quantity</h4>
                      <h4 class="blue center">{{cartItem.quantity}}</h4>
                    </div>
                    <div class="col col-lg-2">
                      <h4 class="gray center">Unit Price</h4>
                      <h4 class="blue center">{{cartItem.displayProduct.product.price}}</h4>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <h4 class="gray center">Price</h4>
                      <h4 class="blue center">{{cartItem.displayProduct.product.price * cartItem.quantity}}</h4>
                    </div>
                    <div class="col col-lg-3 center">
                      <h4 class="gray center">Warranty in months</h4>
                      <h4 class="blue center">{{cartItem.displayProduct.product.warrantyInMonths}}</h4>
                    </div>
                  </div>
                </div>
                &nbsp;
              </div>
            </div>
          </div>
          <div class="col col-lg-2"></div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Shopping cart
          <span class="leftMargin">
            <fa name="fas fa-shopping-cart fa-2x" aria-hidden="true"></fa>
          </span>
          <span class="leftMargin"><b class="price-color">{{cartPriceSum}}</b>
            ({{cart.length}})</span>
        </ng-template>
        <div class="row">
          <div class="col">
            <h1 class="title">My cart</h1>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-2"></div>
          <div class="col col-lg-8">
            <div class="div-rel">
              <br />
              <div class="row" *ngFor="let item of cart">
                <div class="col col-lg-12 jumbotron div-jumbo">
                  <div class="row">
                    <div class="col col-lg-3">
                      <h3 class="gray">{{item.displayProduct.product.type}}</h3>
                      <h3 class="blue"><span class="gray">by</span> {{item.displayProduct.product.manufactorer}}</h3>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <img [src]="item.displayProduct.image.src" height="128" width="128">
                    </div>
                    <div class="col col-lg-4">
                      <h3 class="gray center">Description</h3>
                      <p class="center">{{item.displayProduct.product.description}}</p>
                    </div>
                    <div class="col col-lg-2">
                      <h4 class="gray center">Price</h4>
                      <h4 class="blue center">{{item.displayProduct.product.price}}</h4>
                    </div>
                    <div class="col col-lg-3 center">
                      <h4 class="gray center">Warranty in months</h4>
                      <h4 class="blue center">{{item.displayProduct.product.warrantyInMonths}}</h4>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        <h4 class="gray center wide">Quantity <b class="price">{{item.quantity}}</b></h4>
                        <mat-slider class="wide" thumbLabel min="1" max="{{item.displayProduct.product.lagerQuantity}}"
                          (change)="updateQuantity(item.displayProduct.product.id, $event)"></mat-slider>
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <button class="btn btn-default font-btn floatRight" title="Remove from cart" (click)="removeFromCart(item)">
                        <span class="hover-gray">
                          <fa name="fas fa-trash-o fa-3x" aria-hidden="true"></fa>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                &nbsp;
              </div>
              <button *ngIf="cart.length > 0" class="btn btn-default font-btn floatRight" title="Checkout" (click)="checkout()">
                <span class="hover-gray">
                  <fa name="fas fa-credit-card fa-3x" aria-hidden="true"></fa>
                </span>
              </button>
            </div>
          </div>
          <div class="col col-lg-2"></div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col col-lg-2">
    <app-alert></app-alert>
  </div>
</div>