.div-jumbo-home {
    background-color:rgba(245,245,245, 0.6);
    margin-top: 15%;
}

.div-jumbo-home:hover{
    background-color: #E0E0E0;
    cursor: pointer;
}

.center {
    text-align: center;
}