.div-jumbo-home {
    background-color:rgba(245,245,245, 0.6);
    margin-top: 15%;
}

.div-jumbo-home:hover{
    background-color: #E0E0E0;
    cursor: pointer;
}

.center {
    text-align: center;
}

.h4-font {
    font-size: 20px;
}

.floatNone {
    float: none !important;
}

.marginTop {
    margin-top: 5%;
}

.marginAuto {
    margin: auto;
}

.maxWidth {
    max-width: 100%;
}

.title {
    text-align: center;
    color: #454545;
}

.wide {
    width: -webkit-fill-available;
}

.error-font {
    font-size: 12px;
}

.price {
    font-weight: 800;
    color: #ffc107;
    float: right; 
}

.gray {
    color: #454545;
}

.is-invalid {
    border-color: #C62828;
}

.invalid-feedback {
    color: #C62828;
}

.font-btn {
    background: none;
    border: none;
}

.hover-gray {
    color:#757575;
}

.hover-gray:focus, .hover-gray:hover {
    color: #424242;
}

.div-jumbo {
    background-color:rgba(245,245,245, 0.6);
    margin: 0 auto;
    padding: 2rem 1rem;
}

.blue {
    color: #1E88E5;
}

.div-rel {
    position: relative;
}

.topMargin {
    margin-top: 5%; 
}

.leftMargin {
    margin-left: 10px; 
}

.topMarginSmall {
    margin-top: 15px;
}

.price-color {
    color: #ffc107;
}

.floatRight {
    float: right;
}

.pag {
    background-color:rgba(245,245,245, 0.8);
}

.wifi {
    background-color: rgba(49,27,146, 0.2);
}

/deep/ .mat-slide-toggle-bar {
    height: 21px !important;
    width: 84px !important;
  }
  
/deep/ .mat-slide-toggle-thumb {
height: 30px !important;
width: 30px !important;
}

/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(54px,0,0) !important;
}

/deep/ .mat-slide-toggle-thumb-container {
    width: 36px !important;
    height: 36px !important;
    top: -6px !important;
}