<div class="container topMargin">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Search">
      <ng-template mat-tab-label>
        Search 
        <span class="leftMargin">
          <fa name="fas fa-search fa-2x" aria-hidden="true"></fa>
        </span>
      </ng-template>
      <div>
        <div class="row">
          <div class="col">
            <h1 class="title">Browse single product</h1>
            &nbsp;
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-3"></div>
          <div class="col col-lg-6">
            <form [formGroup]="singleProductForm" (ngSubmit)="findSingleProduct(singleProductForm.value)">
              <div class="form-group">
                <h4 class="gray">Product type</h4>
                <mat-form-field>
                  <mat-select formControlName="productType" [ngClass]="{ 'is-invalid': (spf.productType.touched && spf.productType.errors) || (submitted && spf.productType.errors) }">
                    <mat-option *ngFor="let pType of productTypes" [value]="pType">{{pType}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="(spf.productType.touched && spf.productType.errors) || (submitted && spf.productType.errors)"
                    class="invalid-feedback">
                    <div class="error-font" *ngIf="spf.productType.errors?.required">Product type is required</div>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <h4 class="gray">Manufactorer</h4>
                <mat-form-field>
                  <mat-select formControlName="manufactorer">
                    <mat-option [value]="null">None</mat-option>
                    <mat-option *ngFor="let man of manufactorers" [value]="man">{{man}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group">
                <h4 class="gray">Minimum price <b class="price">{{spf.priceMin.value}}</b></h4>
                <mat-slider class="wide" thumbLabel min="0" max="100" step="10" formControlName="priceMin"></mat-slider>
              </div>
              <div class="form-group">
                <h4 class="gray">Maximum price <b class="price">{{spf.priceMax.value}}</b></h4>
                <mat-slider class="wide" thumbLabel min="200" max="1000" step="50" formControlName="priceMax"></mat-slider>
              </div>
              <div class="form-group">
                <h4 class="gray">Minimum warranty in months</h4>
                <mat-slider thumbLabel min="0" max="60" step="1" formControlName="warrantyInMonthsMin"></mat-slider>
              </div>
              <div class="form-group">
                <mat-checkbox formControlName="includeUserPreferences">Include my preferences</mat-checkbox>
              </div>
              <button mat-stroked-button color="primary">Submit</button>
            </form>
          </div>
          <div class="col col-lg-3">
            <app-alert></app-alert>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Results 
        <span class="leftMargin">
          <fa name="fas fa-bars fa-2x" aria-hidden="true"></fa>
        </span>
      </ng-template>
      <div>
        <div class="row">
          <div class="col">
            <h1 class="title">Search results</h1>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-2"></div>
          <div class="col col-lg-8">
            <div class="div-rel">
              <br />
              <div class="row" *ngFor="let dispProd of foundProducts">
                <div class="col col-lg-12 jumbotron div-jumbo">
                  <div class="row">
                    <div class="col col-lg-3">
                      <h3 class="gray">{{dispProd.product.type}}</h3>
                      <h3 class="blue"><span class="gray">by</span> {{dispProd.product.manufactorer}}</h3>
                      <img [src]="dispProd.image.src" height="128" width="128">
                    </div>
                    <div class="col col-lg-4">
                      <h3 class="gray center">Description</h3>
                      <p class="center">{{dispProd.product.description}}</p>
                    </div>
                    <div class="col col-lg-2">
                      <h4 class="gray center">Price</h4>
                      <h4 class="blue center">{{dispProd.product.price}}</h4>
                      <div class="row">
                        &nbsp;
                      </div>
                      <h4 class="gray center">Warranty in months</h4>
                      <h4 class="blue center">{{dispProd.product.warrantyInMonths}}</h4>
                    </div>
                    <div class="col col-lg-3 center">
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <button class="btn btn-default font-btn" title="Add to cart" (click)="addProductToCart(dispProd.product.id)">
                        <span class="hover-gray">
                          <fa name="fas fa-cart-plus fa-3x" aria-hidden="true"></fa>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                &nbsp;
              </div>
            </div>
          </div>
          <div class="col col-lg-2"></div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Shopping cart 
        <span class="leftMargin"><fa name="fas fa-shopping-cart fa-2x" aria-hidden="true"></fa></span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>